doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Instagram
    link(rel='icon', type='image/ico', href='/img/logo.jpg')
    
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    link(href='/vendor/fontawesome-free/css/all.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/vendor/simple-line-icons/css/simple-line-icons.css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    
    link(rel='stylesheet', href='/device-mockups/device-mockups.min.css')
    
    link(href='/css/new-age.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      .backgroundRest{
      background-image: url('img/instasmile.jpeg');
      background-attachment:fixed;
      background-repeat: no-repeat;
      }
      #search{
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translate(0px, -100%) scale(0, 0);
      -moz-transform: translate(0px, -100%) scale(0, 0);
      -ms-transform: translate(0px, -100%) scale(0, 0);
      -o-transform: translate(0px, -100%) scale(0, 0);
      transform: translate(0px, -100%) scale(0, 0);
      opacity: 0;
      display: none;
      }
      #search.open {
      -webkit-transform: translate(0px, 0px) scale(1, 1);
      -moz-transform: translate(0px, 0px) scale(1, 1);
      -ms-transform: translate(0px, 0px) scale(1, 1);
      -o-transform: translate(0px, 0px) scale(1, 1);
      transform: translate(0px, 0px) scale(1, 1);
      opacity: 1;
      z-index: 106;
      display: block;
      }
      #search.open {
      -webkit-transform: translate(0px, 0px) scale(1, 1);
      -moz-transform: translate(0px, 0px) scale(1, 1);
      -ms-transform: translate(0px, 0px) scale(1, 1);
      -o-transform: translate(0px, 0px) scale(1, 1);
      transform: translate(0px, 0px) scale(1, 1);
      opacity: 3;
      z-index: 106;
      display: block;
      }
      #search input[type="search"] {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -51px;
      width: 60%;
      margin-left: 20%;
      color: rgb(255, 255, 255);
      background: transparent;
      border-top: 1px solid rgba(255, 255, 255, .8);
      border-bottom: 2px solid rgba(255, 255, 255, .5);
      border-left: 0px solid transparent;
      border-right: 0px solid transparent;
      font-size: 40px;
      font-family: 'Billabong';
      font-weight: 300;
      text-align: center;
      outline: none;
      padding: 10px;
      }
      #search .close {
      position: fixed;
      top: 15px;
      right: 15px;
      opacity: 1;
      font-size: 27px;
      color: #fff;
      }
      #search .close:hover{
      color:rgba(223, 47, 199, 0.404);
      cursor: pointer;
      }
      /* width */
      ::-webkit-scrollbar {
      width: 10px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
      background: #f1f1f1;
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
      background: #888;
      }
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
      background: #555;
      }
      div.checkOverflow {
      background-color: transparent;
      width: 330px;
      height: 400px;
      /* border: 1px dotted black; */
      overflow-x: hidden;
      overflow-y: scroll;
      }
      .changeFont{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      position: relative;
      top:20px;
      left:30px;
      }
      img.storyImg {
      border-radius: 50%;
      height: 55px;
      width: 20%;
      }
      img.feedImage {
      border-radius: 8px;
      }
      /*making e responsive grid of pictures */
      .myPosts {
      display: flex;
      flex-wrap: wrap;
      margin: 1px 1px;
      padding-bottom: 1px;
      }
      /* making each post appearing relative to each other adjusting the distance and making it responsive*/
      .singlePost {
      position: relative;
      flex: 1 0 22rem;
      margin: 2px;
      }
      .container{max-width:1170px; margin:auto;}
      img{ max-width:100%;}
      .inbox_people {
      background: #fff0f0 none repeat scroll 0 0;
      opacity: 0.8;
      float: left;
      overflow: hidden;
      width: 40%; border-right:1px solid #c4c4c4;
      }
      .inbox_msg {
      border: 1px solid #c4c4c4;
      clear: both;
      overflow: hidden;
      }
      .top_spac{ margin: 20px 0 0;}
      .recent_heading {float: left; width:40%;}
      .srch_bar {
      display: inline-block;
      text-align: right;
      width: 60%;
      }
      .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
      .recent_heading h4 {
      color: #000303;
      font-size: 21px;
      margin: auto;
      }
      .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
      .srch_bar .input-group-addon button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: #707070;
      font-size: 18px;
      }
      .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
      div.chat_list:hover{
      background-color:lightyellow;
      }
      .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
      .chat_ib h5 span{ font-size:13px; float:right;}
      .chat_ib p{ font-size:14px; color:#989898; margin:auto}
      .chat_img {
      float: left;
      width: 11%;
      }
      .chat_ib {
      float: left;
      padding: 0 0 0 15px;
      width: 88%;
      }
      .chat_people{ overflow:hidden; clear:both;}
      .chat_list {
      border-bottom: 1px solid #c4c4c4;
      margin: 0;
      padding: 18px 16px 10px;
      }
      .inbox_chat { height: 550px; overflow-y: scroll;}
      .active_chat{ background:#dfcddc;}
      .incoming_msg_img {
      display: inline-block;
      width: 6%;
      }
      .received_msg {
      display: inline-block;
      padding: 0 0 0 10px;
      vertical-align: top;
      width: 92%;
      }
      .received_withd_msg p {
      background: #f0bbe9 none repeat scroll 0 0;
      opacity:0.8;
      border-radius: 3px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;
      }
      .time_date {
      color: #2c2b2b;
      display: block;
      font-size: 12px;
      margin: 8px 0 0;
      }
      .received_withd_msg { width: 57%;}
      .mesgs {
      float: left;
      padding: 30px 15px 0 25px;
      width: 60%;
      }
      .sent_msg p {
      background: black none repeat scroll 0 0;
      opacity:0.8;
      border-radius: 3px;
      font-size: 14px;
      margin: 0; color:#fff;
      padding: 5px 10px 5px 12px;
      width:100%;
      }
      .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
      .sent_msg {
      float: right;
      width: 46%;
      }
      .input_msg_write input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #4c4c4c;
      font-size: 15px;
      min-height: 48px;
      width: 100%;
      }
      .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
      .msg_send_btn {
      background: #001116 none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
      }
      .messaging { padding: 0 0 50px 0;}
      .msg_history {
      height: 516px;
      overflow-y: auto;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: black;
      font-family:'Billabong';
      }
      .chat_list:hover{
      color:antiquewhite;
      }
      a > h5{
      color:red;
      }
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/')
          i.fa.fa-instagram(style='color:black;font-size:42px;')
            | 
            span.navbar-brand.js-scroll-trigger(style="font-family:'Billabong';font-size:42px;font-weight:normal;color:black;display:inline-block")
              | Instagram
        button.navbar-toggler.navbar-toggler-right(style="font-family: 'Billabong';color: black;", type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(display='inline-block', href='#searchIt')
                div(id='#search')
                  i.fa.fa-search(style='color:black;font-size:42px;')
                #search
                  span.close X
                  form#searchform(role='search', action='/search', method='get')
                    input(value='', name='q', type='search', placeholder='type to search')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#likeIt')
                i.fa.fa-heart(style='color:black;font-size:42px;')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#likeIt')
                i.fa.fa-envelope(style='color:black;font-size:42px;')
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#userID')
                i.fa.fa-user(style='color:black;font-size:42px;')
    
    section#download.backgroundRest
     
      h3.text-center(style='font-family: Billabong;font-size: 36px;') Messaging
      .messaging
        .inbox_msg
          .inbox_people
            .headind_srch
              .recent_heading
                h4(style='font-family:Billabong;font-size:28px') Recent
              .srch_bar
                .stylish-input-group
                  input.search-bar(type='text', placeholder='Search')
                  span.input-group-addon
                    button(type='button')
                      i.fa.fa-search(aria-hidden='true')
            .inbox_chat
              .chat_list.active_chat
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='username')
                  .chat_ib
                    h5(style='font-family:Billabong;font-weight:bold;font-size: 19px')
                      a(style='color:rgb(175, 10, 153)', href='#') Sunil Rajput 
                      span.chat_date
                        | Dec 25  
                        a(href='#', title='Delete Chat')
                          i.fa.fa-trash(style='color:black')
                    p(style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif")
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5(style='font-family:Billabong;font-weight:bold;font-size: 19px')
                      a(style='color:rgb(175, 10, 153)', href='#') Sunil Rajput
                      span.chat_date
                        | Dec 25  
                        a(href='#', title='Delete Chat')
                          i.fa.fa-trash(style='color:black')
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5
                      | Sunil Rajput 
                      span.chat_date Dec 25
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5
                      | Sunil Rajput 
                      span.chat_date Dec 25
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5
                      | Sunil Rajput 
                      span.chat_date Dec 25
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5
                      | Sunil Rajput 
                      span.chat_date Dec 25
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
              .chat_list
                .chat_people
                  .chat_img
                    img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                  .chat_ib
                    h5
                      | Sunil Rajput 
                      span.chat_date Dec 25
                    p
                      | Test, which is a new approach to have all solutions
                      | astrology under one roof.
          .mesgs
            .msg_history
              .incoming_msg
                .incoming_msg_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .received_msg
                  .received_withd_msg
                    p
                      | Test which is a new approach to have all
                      | solutions
                    span.time_date(style='font-family: Billabong;font-size:15px;')  11:01 AM    |    June 9
              .outgoing_msg
                .sent_msg
                  p
                    | Test which is a new approach to have all
                    | solutions
                  span.time_date(style='font-family: Billabong;font-size:15px;')  11:01 AM    |    June 9
              .incoming_msg
                .incoming_msg_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .received_msg
                  .received_withd_msg
                    p Test, which is a new approach to have
                    span.time_date(style='font-family: Billabong;font-size:15px;')  11:01 AM    |    Yesterday
              .outgoing_msg
                .sent_msg
                  p Apollo University, Delhi, India Test
                  span.time_date(style='font-family: Billabong;font-size:15px;')  11:01 AM    |    Today
              .incoming_msg
                .incoming_msg_img
                  img(src='https://ptetutorials.com/images/user-profile.png', alt='sunil')
                .received_msg
                  .received_withd_msg
                    p
                      | We work directly with our designers and suppliers,
                      | and sell direct to you, which means quality, exclusive
                      | products, at a price anyone can afford.
                    span.time_date(style='font-family: Billabong;font-size:15px;')  11:01 AM    |    Today
            .type_msg
              .input_msg_write
                input.write_msg(type='text', placeholder='Type a message')
                button.msg_send_btn(type='button')
                  i.fa.fa-paper-plane-o(aria-hidden='true')
    footer
      .container
        p © Instagram 2018. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ
    
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
   
    script(src='/js/new-age.min.js')
    script(src='/myJS.js')

