extends layout

block content
  br
  br
  br
  br
  .container
    a(href="/profile/"+myStory.id style="color:white")
      h1.my-4(style="color:white;font-family:'Billabong'")
        b
          = myStory.name
        |  
      .row
        .col-md-8
          img.img-fluid(src='/images/'+myStory.pid alt='')
          br
          br
  .container
    br     