extends layout
 
block content
  section
      .container
        .row.align-items-center
          .col-lg-6
            .p-5
              img.img-fluid.rounded-circle(src=displayPicture, alt='My Profile Picture')
          .col-lg-6
            .p-5
              h2(style="color:white;font-family: 'Billabong'")
                b 
                  =username
                |  
                |  
                a(style='color:white', href='/edit')
                  i.fa.fa-edit(style='color:white;font-size:30px;')
                |  
                |  
                .col-lg-10
                span
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/Followers')
                  b 
                    |  followers
                |  
                span
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/Following') 
                  b  
                    |  following
              
              br
              br
              b(style='color:white')
                =bio
              hr
      section#portfolio
        .container
          .row
            .col-lg-12.text-center
              h2.section-heading(style="color:white;font-family: 'Billabong'") portfolio
              br
          .row
            -var index=0;
            each entry in uploads
              .col-md-4.col-sm-6.portfolio-item
                a.portfolio-link(href="/post/"+entry._id)
                  img.img-fluid.feedImage(src="/images/"+entry.pid, alt='')
            -index++;